<section class="mt-8 p-6" id="operations-services-section">
    <div class="max-w-6xl mx-auto bg-white border border-gray-200 rounded-lg shadow">
        <h2 class="text-3xl text-center pt-6 tracking-wide pb-6 sm:pb-0"><span class="border-b-2 border-oxblood">Fractional E-Commerce Operations Services</span></h2>
        <div class="max-w-6xl mx-auto">
            <div class="max-w-5xl mx-auto sm:grid sm:grid-cols-3 sm:gap-4 text-center p-6">
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-1">Analytics & Reporting</h3>
                <img src="/assets/img/40.png" alt="illustration of a computer monitor with a web browser on the display" class="h-36 mx-auto py-4 sm:order-4">
                <p class="mb-3 font-normal text-gray-700 sm:order-7 pb-10 sm:pb-0">Make sure you always have the information you need, close at hand.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-2">Inventory Management</h3>
                <img src="/assets/img/24.png" alt="illustration of gear" class="h-36 mx-auto py-4 sm:order-5">
                <p class="mb-3 font-normal text-gray-700 sm:order-8 pb-10 sm:pb-0">What your customers need, when they need it, promptly & accurately uploaded to your site.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-3">Data-Backed Merchandising</h3>
                <img src="/assets/img/43.png" alt="illustration of web browser with pie chart" class="h-36 mx-auto py-4 sm:order-6">
                <p class="mb-3 font-normal text-gray-700 sm:order-9">Keeping your e-commerce site fresh and relevant is crucial, but it's easy for those regular updates to fall by the wayside when other priorities need your attention.</p>
            </div>
        </div>
    </div>
</section>
