


<section class="mx-auto px-4 py-6 max-w-6xl">
    <h2 class="font-semibold text-2xl py-4">Projects</h2>
    <div class="grid md:grid-cols-2 gap-4">
        <div>
            <img src="/assets/img/artemis-gif-100comp.gif" alt="">
            <span class="block font-semibold text-xl py-4">Artemis Design Co.</span>
            <ul class="uppercase font-serif flex gap-2">
                    <li>Liquid</li>
                    <li>HTML/CSS</li>
            </ul>
            <p class="py-4">Migration to Shopify 2.0 for an ecommerce store, including solutions for one-of-a-kind inventory.</p>
            <div class="flex gap-4 uppercase font-serif underline underline-offset-8 decoration-olive">
                <span>View Project</span>
                <span>View Code</span>
            </div>

        </div>

        <div>
            <img src="/assets/img/marcella-petersen.netlify.app_.png" alt="">
            <span class="block font-semibold text-xl py-4">Marcella Petersen</span>
            <ul class="uppercase font-serif flex gap-2">
                    <li>Javascript</li>
                    <li>TailwindCSS</li>
                    <li>11ty</li>
            </ul>
            <p class=" py-4">Migration to Shopify 2.0 for an ecommerce store, including solutions for one-of-a-kind inventory.</p>
            <div class="flex gap-4 uppercase font-serif underline underline-offset-8 decoration-olive">
                <span>View Project</span>
                <span>View Code</span>
            </div>

        </div>
    </div>
</section>