<section>
    <div class="p-6 bg-kraft">
        <div class="max-w-4xl mx-auto">
            <h2 class="text-2xl"><span class="border-b-2 border-black">About</span></h2>
            <div class="flex justify-center pt-6 max-w-4xl gap-4">
                <div class="w-56 object-cover">
                    <img src="/assets/img/mcneill-shiner-headshot-3.jpg" class="w-56" alt="">
                </div>
                <p class="font-serif text-2xl font-light leading-relaxed">I’m a web developer and eCommerce consultant with a background in specialty manufacturing and interiors. My sweet spot is working with product-based businesses on the smaller side, particularly those with a deeply personal mission or aesthetic. On the side, you’ll find me needlepointing, knitting, and gardening alongside my pup Ruthie.</p>
            </div>
        </div>
    </div>
</section>