<section id="about-section">
    <div class="py-6">
        <div class="max-w-6xl mx-auto text-center sm:text-left">
            <div class="pt-4 sm:py-auto px-4">
                <h2 class="text-3xl text-center sm:text-left tracking-wide"><span class="border-b-2 border-oxblood">About</span></h2>
            </div>
            <div class="p-4">
                <div class="mx-auto w-48 sm:float-left sm:pr-6 pb-6">
                    <img src="/assets/img/mcneill-shiner-headshot-2.jpg" class="" alt="">
                </div>
                <div class="space-y-4">
                    <p class="text-center sm:text-left text-2xl font-serif leading-relaxed">I’m McNeill, an e-commerce consultant with 13 years of experience leading in-house strategy, operations, and design for creative product-based businesses in the fashion and interiors spaces.</p>
                    <p class="text-center sm:text-left text-2xl font-serif leading-relaxed">My sweet spot lies in merging a deep understanding of brand aesthetic and voice with the structure, prioritization, and and analytical approach that every sustainable business needs (spreadsheets are my love language!). I especially love working with businesses on the smaller side, particularly those with a deeply personal mission or aesthetic.</p>
                    <p class="text-center sm:text-left text-2xl font-serif leading-relaxed">Outside of my working life, you can find me crafting, decorating, reading, gardening, traveling, and snuggling my pooch Ruthie. </p>
            
                </div>
            </div>
        </div>
    </div>
</section>  

