<section class="max-w-6xl px-4 py-6 mx-auto" id="contact-section">

    <h2 class="text-3xl py-6 "><span class="border-b-2 border-black">Get in Touch</span></h2>

    <div class="pb-12">
        <form data-netlify="true" action="post" class="mt-6">
            <div class="m-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div w-full>
                        <label for="block contact-name-input" class="">Full Name</label>
                        <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="name" id="contact-name-input">
                    </div>
                    <div>
                        <label for="contact-email-input" class="block">Email Address</label>
                        <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="email" id="contact-email-input">
                    </div>
                </div>
                <div>
                    <label for="contact-subject-input" class="block">Subject</label>
                    <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="subject" id="contact-subject-input">
                </div>
                <div>
                    <label for="contact-message-input" class="block">Message</label>
                    <textarea class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" name="message" id="contact-message-input" rows="5"></textarea>
                </div>
                <div class="text-center">
                    {% Button 'Submit', 'pear', 'none', true, 'contact-submit' %}
                </div>
            </div>

        </form>

    </div>

</section>