<section class="max-w-6xl px-4 py-6 mx-auto">

    <h2 class="font-semibold text-4xl py-6 ">Get in Touch!</h2>

    <div class="pb-12">
        <form action="post" class="mt-6">
            <div class="m-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div w-full>
                        <label for="block contact-name-input" class="font-serif">Full Name</label>
                        <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="name" id="contact-name-input">
                    </div>
                    <div>
                        <label for="contact-email-input" class="block font-serif">Email Address</label>
                        <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="email" id="contact-email-input">
                    </div>
                </div>
                <div>
                    <label for="contact-subject-input" class="block font-serif">Subject</label>
                    <input class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" type="text" name="subject" id="contact-subject-input">
                </div>
                <div>
                    <label for="contact-message-input" class="block font-serif">Message</label>
                    <textarea class="block mt-2 mb-5 p-3 w-full focus:outline-neutral-400" name="message" id="contact-message-input" rows="5"></textarea>
                </div>
                <div class="text-center">
                    <button class="bg-kombu py-3 px-6" id="contact-submit"><span class="uppercase text-white font-serif">Submit</span></button>
                </div>
            </div>

        </form>

    </div>

</section>