<section class="mt-4 py-6" id="hero-section">
  <div class="max-w-6xl mx-auto min-h-full sm:grid sm:grid-cols-12">
    <div class="sm:col-span-4 hidden sm:inline">
      <img src="/assets/img/clipboard-icon.png" alt="">
    </div>
    <div class="flex flex-col px-4 max-w-3xl my-auto sm:col-span-8">
      <p class="uppercase text-xl font-medium tracking-wider">Partner in<span id="changing-text"></span><span class="sr-only">: strategy, operations, execution, analytics, web development, prioritization, systems, getting the big things done</span></p>
      <h1 class="text-5xl py-6 font-serif max-w-2xl tracking-wider">
      Tailor-made Solutions to Move Your Business Forward
      </h1>
      <div class="mt-6">
        {% Button 'Get Started', 'pear', '#contact-section' %}
      </div>
    </div>
  </div>
</section>
<script>
  // text, id of text container, maximum number of animation rotations
  animateText(['...strategy', '...operations', '...execution', '...analytics', '...web development', '...prioritization', '...systems', '...making big moves'], 'changing-text', 3);

  function animateText(words, id, rotationLimit) {
    let letterCount = 1;
    let interval = 1;
    let waiting = false;
    let rotationCount = 0;
    const stopChange = words.length * rotationLimit - 1;
    const target = document.getElementById(id)

    let runAnimation = window.setInterval(function() {

      // 3) completed decrement, ready for new word
      if (letterCount === 0 && waiting === false) {
        waiting = true;
        target.innerHTML = words[0].substring(0, letterCount)
        window.setTimeout(function() {
          const usedWord = words.shift();
          words.push(usedWord);
          rotationCount++;
          interval = 1;
        
          letterCount += interval;
          waiting = false;
        }, 1000)
        // 2) at end of word, ready to decrement
      } else if (letterCount === words[0].length + 1 && waiting === false) {
        waiting = true;
        window.setTimeout(function() {
          interval = -1;
          letterCount += interval;
          waiting = false;
        }, 1000)
        // 1) regular increment
      } else if (waiting === false) {
        target.innerHTML = words[0].substring(0, letterCount)
        letterCount += interval;
        // 4) max rotations have taken place, end animation on last word
        if (rotationCount === stopChange && letterCount === words[0].length + 1) {
          console.log('rotations complete');
          clearInterval(runAnimation);
        }
      }
    }, 120)

  }
</script>