<section class="mt-4">
  <div class="max-w-6xl mx-auto min-h-full sm:grid sm:grid-cols-12">
    <div class="sm:col-span-4 hidden sm:inline">
      <img src="/assets/img/clipboard-icon.png" alt="">
    </div>
    <div class="flex flex-col px-4 max-w-3xl my-auto sm:col-span-8">
      <p class="uppercase text-xl font-medium tracking-wider">Partner in...Strategy</p>
      <h1 class="text-5xl py-6 font-serif font-light max-w-2xl">
      Tailor-made Solutions to Move Your Business Forward
      </h1>
      <!-- <ul class="mb-6">
        <li>&#x2714; Shopify Support</li>
        <li>&#x2714; Custom Development</li>
        <li>&#x2714; eCommerce guidance</li>
        <li>&#x2714; On-demand help from $125/hr</li>
      </ul> -->
      <div class="mt-6">
        {% Button 'Get Started', 'pear', '#contact' %}
      </div>
    </div>
  </div>
</section>
