<section>

<div class="max-w-6xl mx-auto md:flex md:justify-between min-h-full ">

    <img class="max-w-md mx-auto md:order-2" src="/assets/img/mcneill-shiner-headshot.jpg" alt="McNeill Shiner, seated on a yellow chair in front of a bookshelf">

    <div class="flex flex-col mx-auto max-w-md my-auto">
        <p class="text-4xl py-4">I'm <span class="text-kombu italic underline decoration-inherit underline-offset-4 z-10">McNeill Shiner</span>, a full-stack developer who delights in solving problems with code.</p>
        <p class="py-4">With a background in specialty manufacturing and ecommerce operations, I've always worked primarily in problem-solving--now, my medium is code.</p>

        <a href="#contact"><span class="font-serif uppercase underline decoration-olive underline-offset-8 py-4 decoration-2">Work With Me</span></a>
    </div>


</div>


</section>