<section id="kind-words-section" class="py-10 bg-kraft">
    <div class="p-4 space-y-4 mx-auto max-w-6xl text-center sm:text-right sm:grid sm:grid-cols-5">
        <div class=" sm:inline sm:col-span-1">
            <img src="/assets/img/kind-words.png" alt="illustration of a megaphone" class="h-36 w-36 mx-auto">
        </div>
        <div class="sm:col-span-4">
            <h2 class="text-3xl"><span class="border-b-2 border-oxblood hidden tracking-wide">Kind Words</span></h2>
            <p class="font-serif text-2xl leading-relaxed pb-4">"McNeill has an incredible ability to <span class="italic">anticipate</span> and <span class="italic">respond</span> to the needs of all of our various <span class="italic">stakeholders</span>, from customers to production to our warehouse utilizing our internal systems. She has touched and improved every single part of the business."</p>
            <span class="text-l leading-relaxed">Milicent Armstrong, Artemis Design Co.</span>
        </div>
    </div>   
</section>