<section id="kind-words-section">
    <div class="p-6 space-y-4 mx-auto max-w-4xl">
        <h2 class="text-3xl"><span class="border-b-2 border-black">Kind Words</span></h2>
        <p class="font-serif text-2xl font-light leading-relaxed pb-4">McNeill has an incredible ability to <span class="italic">anticipate</span> and <span class="italic">respond</span> to the needs of all of our various <span class="italic">stakeholders</span>, from customers to production to our warehouse utilizing our internal systems. She has touched and improved every single part of the business.</p>
        <span class="text-l leading-relaxed">Milicent Armstrong, Artemis Design Co.</span>
    </div>
</section>