<section>
    <div class="sm:grid sm:grid-cols-2">
        <div class="bg-pear sm:col-span-1 text-right">
            <h2 class="font-serif font-light text-4xl">You're in the <span class="italic">right place</span> if...</h2>
        </div>
        <div class="sm:col-span-1">
            <ul>
                <li>You need a left brain partner who fully understands the creative aspects of your brand</li>
                <li>It can feel like your business is "small potatoes" to traditional agencies</li>
                <li>You're looking to make big moves, while clearing time for the work that only you can do</li>
            </ul>
        </div>
    </div>
</section>