<section id="right-place-section">
    <div class="sm:grid sm:grid-cols-6 max-w-6xl mx-auto">
        <div class="sm:col-span-3 xl:col-span-2 pt-4 sm:py-auto flex justify-center sm:justify-end items-center sm:h-96 px-8">
            <div class="sm:w-8/12 lg-max-xl:w-7/12">
                <h2 class="font-serif font-light text-4xl md:text-5xl text-center sm:text-right leading-relaxed tracking-wide">You're in the <span class="italic">right place</span> if...</h2>
            </div>          
        </div>
        <div class="sm:col-span-3 xl:col-span-4 p-4 flex items-center justify-center sm:justify-start sm:mx-4">
            <div class="w-10/12 space-y-4">
                <div class="flex items-center gap-4">
                    <img src="/assets/img/bullet-icon-green.png" class="h-3" alt="green bullet icon">
                    <p>You need a left brain partner who fully understands the creative aspects of your brand</p>
                </div>
                <div class="flex items-center gap-4">
                    <img src="/assets/img/bullet-icon-green.png" class="h-3" alt="green bullet icon">
                    <p>It can feel like your business is "small potatoes" to traditional agencies</p>
                </div>
                <div class="flex items-center gap-4">
                    <img src="/assets/img/bullet-icon-green.png" class="h-3" alt="green bullet icon">
                    <p>You're looking to make big moves, while clearing time for the work that only you can do</p>
                </div>
            </div>
        </div class="pb-4">
    </div>
</section>