<section class="mt-8 max-w-6xl mx-auto">
    <div class="max-w-6xl mx-auto grid grid-cols-3 gap-4 px-6">
        <div class="col-span-1">
            <img src="/assets/img/check-badge.png" alt="starburst icon" class="h-8">
            <h4 class="uppercase tracking-wider font-medium py-4">1-on-1 Support</h4>
            <p>Speak directly with experts and developers--your personal resource for learning and growing.</p>
        </div>
        <div class="col-span-1">
            <img src="/assets/img/check-badge.png" alt="starburst icon" class="h-8">
            <h4 class="uppercase tracking-wider font-medium py-4">On Demand</h4>
            <p>On demand hourly pricing, or short retainers for larger tasks and better value.</p>
        </div>
        <div class="col-span-1">
            <img src="/assets/img/check-badge.png" alt="starburst icon" class="h-8">
            <h4 class="uppercase tracking-wider font-medium py-4">From $125/hr</h4>
            <p>Transparent pricing for all on demand work, and estimates and time logs for all retainer work.</p>
        </div>                
    </div>
</section>