<section class="mt-8 p-6" id="services-section">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl text-center pb-4"><span class="border-b-2 border-oxblood">Services</span></h2>
        <div class="max-w-5xl mx-auto sm:grid sm:grid-cols-3 space-y-6 divide-y-2 sm:divide-y-0 divide-almond text-center">
            <div class="col-span-1 sm:pt-6">
                <img src="/assets/img/strategy-icon.png" alt="illustration of web browser with pie chart" class="h-36 mx-auto">
                <h3 class="font-serif text-xl py-4">Strategy & Systems</h3>
                <p>Tackle your biggest opportunities</p>
            </div>
            <div class="col-span-1 pt-4 sm:pt-0">
                <img src="/assets/img/operations-icon-2.png" alt="illustration of gear" class="h-36 mx-auto">
                <h3 class="font-serif text-xl py-4">Operational Support</h3>
                <p>Hand off the day-to-day</p>
            </div>
            <div class="col-span-1 pt-4 sm:pt-0">
                <img src="/assets/img/web-dev-icon.png" alt="illustration of a computer monitor with a web browser on the display" class="h-36 mx-auto">
                <h3 class="font-serif text-xl py-4">Web Development</h3>
                <p>Craft a digital presence that works for you</p>
            </div>                
        </div>
        <div class="px-2 flex justify-center pt-4">
            {% Button 'Get Started', 'pear', '#contact-section' %}
        </div>
    </div>
</section>