<section class="mt-8 bg-cameo p-6">
    <div class="max-w-6xl mx-auto">
    </div>
    <h2 class="text-2xl text-center pb-4"><span class="border-b-2 border-black">Services</span></h2>
    <div class="max-w-6xl mx-auto sm:grid sm:grid-cols-3 gap-4 text-center sm:pt-4">
        <div class="col-span-1">
            <img src="/assets/img/strategy-icon.png" alt="illustration of web browser with pie chart" class="h-36 mx-auto">
            <h4 class="font-light font-serif text-xl py-4">Strategy & Systems</h4>
            <p>Tackle your biggest opportunities</p>
        </div>
        <div class="col-span-1">
            <img src="/assets/img/operations-icon-2.png" alt="illustration of gear" class="h-36 mx-auto">
            <h4 class="font-light font-serif text-xl py-4">Operational Support</h4>
            <p>Hand off the day-to-day</p>
        </div>
        <div class="col-span-1">
            <img src="/assets/img/web-dev-icon.png" alt="illustration of a computer monitor with a web browser on the display" class="h-36 mx-auto">
            <h4 class="font-light font-serif text-xl py-4">Web Development</h4>
            <p>Craft a digital presence that works for you</p>
        </div>                
    </div>
</section>