<section class="mt-8 p-6" id="e-commerce-strategy-services-section">
    <div class="max-w-6xl mx-auto bg-white border border-gray-200 rounded-lg shadow">
        <h2 class="text-3xl text-center pt-6 tracking-wide pb-6 sm:pb-0"><span class="border-b-2 border-oxblood">Strategic E-Commerce Services</span></h2>
        <div class="max-w-6xl mx-auto">
            <div class="max-w-5xl mx-auto sm:grid sm:grid-cols-3 sm:gap-4 text-center p-6">
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-1">E-Commerce System & Workflow Design</h3>
                <img src="/assets/img/strategy-1.png" alt="illustration of four different pages" class="h-36 mx-auto py-4 sm:order-4">
                <p class="mb-3 font-normal text-gray-700 sm:order-7 pb-10 sm:pb-0">When you have the capacity to handle something in-house, but your current process just isn't quite working.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-2">One-Off Strategy Sessions</h3>
                <img src="/assets/img/strategy-2.png" alt="illustration of a bright light bulb" class="h-36 mx-auto py-4 sm:order-5">
                <p class="mb-3 font-normal text-gray-700 sm:order-8 pb-10 sm:pb-0">Just the thing when you need to get unblocked, work through a particular process, etc.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-3">Ongoing Strategy Support</h3>
                <img src="/assets/img/strategy-3.png" alt="illustration of a sign with four arrows facing multiple directions" class="h-36 mx-auto py-4 sm:order-6">
                <p class="mb-3 font-normal text-gray-700 sm:order-9">Make big moves in your e-commerce business with the support & structure of quarterly planning worshops, monthly updates, and weekly email check-ins.</p>
            </div>
        </div>
    </div>
</section>