<section id="web-dev-faqs" class="py-6"></section>
    <div class="p-4 space-y-4 mx-auto max-w-6xl">
        <h2 class="text-3xl tracking-wide"><span class="border-b-2 border-oxblood">FAQs</span></h2>
    </div> 
    <div class="max-w-6xl mx-auto">

        <div id="accordion-collapse" data-accordion="open" data-active-classes="bg-almond text-oxblood" data-inactive-classes="bg-almond text-oxblood">
            <h3 id="accordion-collapse-heading-1">
                <button type="button" class="flex items-center justify-between p-4 w-full font-serif text-2xl tracking-wider text-left border-b-2 border-oxblood" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
                    <span>Ongoing Strategy Support</span>
                    <svg data-accordion-icon class="w-6 h-6 shrink-0 rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h3>
            <div id="accordion-collapse-body-1" aria-labelledby="accordion-collapse-heading-1" class="hidden">
                <div class="p-4">
                    <h4 class="mb-2 uppercase tracking-wider font-medium">How it Works</h4>
                    <p class="mb-4 pl-4">We'll start with a kick-off workshop to get clarity on your short and long-term vision. Quarterly planning workshops prioritize the most impactful moves you can make, plus monthly check-in meetings and weekly email follow-ups to keep you from getting stuck.</p>
                    <h4 class="mb-2 uppercase tracking-wider font-medium">Pricing</h4>
                    <p class="mb-2 pl-4">$1200 kickoff, $950/month, minimum 6 month commitment</p>
                </div>
            </div>
            <h3 id="accordion-collapse-heading-2">
                <button type="button" class="flex items-center justify-between p-4 w-full font-serif text-2xl tracking-wider text-left border-b-2 border-oxblood" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                    <span>One-Off Strategy Sessions</span>
                    <svg data-accordion-icon class="w-6 h-6 shrink-0 rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h3>
            <div id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2" class="hidden">
                <div class="p-4">
                    <h4 class="mb-2 uppercase tracking-wide font-medium">How it Works</h4>
                    <p class="mb-4 pl-4">We'll start with a kick-off workshop to get clarity on your short and long-term vision. Quarterly planning workshops prioritize the most impactful moves you can make, plus monthly check-in meetings and weekly email follow-ups to keep you from getting stuck.</p>
                    <h4 class="mb-2 uppercase tracking-wide font-medium">Pricing</h4>
                    <p class="mb-2 pl-4">$1200 kickoff, $950/month, minimum 6 month commitment</p>
                </div>
            </div>
        <script src="https://unpkg.com/flowbite@1.3.3/dist/flowbite.js"></script>
    </div> 

</section>