<section class="mt-8 p-6" id="web-development-services-section">
    <div class="max-w-6xl mx-auto bg-white border border-gray-200 rounded-lg shadow">
        <h2 class="text-3xl text-center pt-6 tracking-wide pb-6 sm:pb-0"><span class="border-b-2 border-oxblood">Shopify Design & Development Packages</span></h2>
        <div class="max-w-6xl mx-auto">
            <div class="max-w-5xl mx-auto sm:grid sm:grid-cols-3 sm:gap-4 text-center p-6">
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-1">Custom Shopify Store Development</h3>
                <img src="/assets/img/web-dev-1.png" alt="illustration of a delivery truck" class="h-36 mx-auto py-4 sm:order-4">
                <p class="mb-3 font-normal text-gray-700 sm:order-7 pb-10 sm:pb-0">Start to finish, Shopify design & development, delivered for you. Walk away with a custom website that works perfectly for your product & brand.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-2">One-Day Shopify Development</h3>
                <img src="/assets/img/web-dev-2.png" alt="illustration of a sun with rays" class="h-36 mx-auto py-4 sm:order-5">
                <p class="mb-3 font-normal text-gray-700 sm:order-8 pb-10 sm:pb-0">Perfect for handling a one-off project: updating an existing site to reflect new branding, adding or reworking a page, tweaking a DIY site, etc.</p>
                <h3 class="mb-2 font-serif text-2xl tracking-wider sm:order-3">Hourly E-Commerce Web Development</h3>
                <img src="/assets/img/web-dev-3.png" alt="illustration of a clock" class="h-36 mx-auto py-4 sm:order-6">
                <p class="mb-3 font-normal text-gray-700 sm:order-9">When you just need a bit of help! An hour's worth of web development work can be just what you need to install & configure an app, solve a small bug, etc.</p>
            </div>
        </div>
    </div>
</section>