@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Bogart';
    src: url('../assets/fonts/bogart/bogart-regular-webfont.woff2'),
         url('../assets/fonts/bogart/bogart-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Bogart';
    src: url('../assets/fonts/bogart/bogart-light-webfont.woff2'),
         url('../assets/fonts/bogart/bogart-light-webfont.woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Bogart';
    src: url('../assets/fonts/bogart/bogart-lightitalic-webfont.woff2'),
         url('../assets/fonts/bogart/bogart-lightitalic-webfont.woff');
    font-weight: 300;
    font-style: italic;

}

@tailwind base;
@tailwind components;
@tailwind utilities;