---
layout: 'layouts/base.html'
title: 'McNeill Shiner, E-Commerce Solutions for Small Businesses'
url: '/'
desc: 'Tailor-made solutions for small e-commerce businesses, including Shopify web design & development, fractional operations support, and e-commerce strategy.'
---

{% include 'sections/hero.html' %}
{% include 'sections/services.html' %}
{% include 'sections/right-place.html' %}
{% include 'sections/about.html' %}
{% include 'sections/kind-words.html' %}
{% include 'sections/contact.html' %}