---
layout: 'layouts/base.html'
title: 'McNeill Shiner'
url: '/'
---

{% include 'sections/hero.html' %}
{% include 'components/portfolio-tile.html' %}
{% include 'sections/portfolio.html' %}

<section class="mx-auto px-4 py-6 max-w-6xl">
    <div class="grid md:grid-cols-2 gap-4">
        {% Card title='Testing Card', img='/assets/img/artemis-gif-100comp.gif', imgAlt='Animated gif of Artemis Design Co. website', stack=['Liquid', 'HTML/CSS'], desc='Migration to Shopify 2.0 for an ecommerce store, including solutions for one-of-a-kind inventory.', url='https://artemisdesignco.com', gitUrl='' %}
    </div>
</section>