---
layout: 'layouts/base.html'
title: 'E-Commerce Web Development | McNeill Shiner, LLC'
url: '/shopify-web-development/'
desc: 'Shopify web design & development, tailored to small e-commerce businesses. Choose the structure that works for your business, and walk away with a website that does, too.'
---

{% include 'sections/web-dev/hero.html' %}
{% include 'sections/web-dev/services.html' %}
{% include 'sections/web-dev/faqs.html' %}
{% include 'sections/web-dev/portfolio.html' %}
{% include 'sections/contact.html' %}