<footer>

    <div class="bg-lemon border-t border-black md:flex justify-between">

        <div class="border-r border-black hidden md:flex">
            <img src="/assets/img/logo-leaf.png" alt="" class="py-6 px-10 max-h-36 md:max-h-44">
        </div>

        <div class="flex flex-col">
            <div class="justify-self-stretch">
                <a href=""><i class="fa-solid fa-envelope text-kombu"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter text-kombu"></i></a>
                <a href=""><i class="fa-brands fa-linkedin text-kombu"></i></a>


            </div>
            <div class="border-t border-black px-4">
                <span>&copy; 2023 McNeill Shiner | Made with 11ty</span>
            </div>
        </div>

    </div>

</footer>