<footer>

    <div class="bg-sunshine border-t-2 border-black md:flex justify-between">

        <div class="border-r-2 border-black hidden md:flex">
            <img src="/assets/img/logo-ms.png" alt="" class="py-6 px-10 max-h-36 md:max-h-44">
        </div>

        <div class="flex flex-col grow">
            <div class="grow text-center md:text-right text-6xl px-4 py-2 flex justify-center md:justify-end items-center gap-6">
                <a href="mailto:mcneill.shiner@gmail.com"><i class="fa-solid fa-envelope my-auto"></i></a>
                <a href="https://twitter.com/McneillShiner"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https://www.linkedin.com/in/mcneill-shiner/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/mcneill-shiner"><i class="fa-brands fa-square-github"></i></a>


            </div>
            <div class="border-t-2 border-black px-4 text-center md:text-right">
                <span>&copy; 2024 McNeill Shiner | Made with 11ty</span>
            </div>
        </div>

    </div>

</footer>