        <header>
            <div class="flex justify-between items-center border-b border-black">
                <img src="/assets/img/ms-logo-leaf.png" alt="ms leaf logo" class="max-h-20 px-4 py-2 basis-1">
                <nav class="basis-2 px-4">
                    <ul class="font-serif text-olive text-xl flex justify-between">
                        <li>
                            <a href="#">WORK</a>
                        </li>
                        <li class="px-6">
                            <a href="#">ABOUT</a>
                        </li>
                        <li>
                            <a href="#">BLOG</a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </header>